@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

.colors {
  height: 80vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.colors .color {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.colors .color .color-controls {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.colors .color .color-controls button {
  font-size: 2.6rem;
  background: none;
  border: none;
}

.colors .color .color-controls .adjust {
  margin-bottom: 3rem;
}

.colors .color .sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top-right-radius: 1.6rem;
  position: absolute;
  bottom: -100px;
  opacity: 0;
  padding: 1.3rem;
  background-color: #8cb4ce;
  font-size: 1.6rem;
}

.colors .color .sliders .close-adjustment {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.3rem 0.7rem;
  border-top-right-radius: 1.6rem;
  border-bottom-left-radius: 0.4rem;
  border: none;
}

.colors .color .sliders input {
  margin-bottom: 1.6rem;
}

.colors .color .sliders input:last-child {
  margin: 0;
}

.copy-section {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: red;
  padding: 1.6rem 2rem;
  font-size: 1.4rem;
  border-radius: 1.6rem;
}

.copy-section span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.panel {
  height: 20vh;
  width: 80vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.panel div {
  font-size: 1.6rem;
}

.panel div button {
  padding: 1.2rem 2.2rem;
  background-color: #2e2e2e;
  border-radius: 1.2rem;
  color: #fff;
  border: none;
  font-size: 1.8rem;
}

.panel div p {
  text-align: center;
  margin-top: 1.6rem;
}
/*# sourceMappingURL=style.css.map */